@import 'tailwindcss';

@theme {
    --animate-blob: blob 10s infinite;

    @keyframes blob {
        0% {
            transform: translate(0px, 0px) scale(1);
        }

        33% {
            transform: translate(30px, -50px) scale(1.1);
        }

        66% {
            transform: translate(-20px, 20px) scale(0.9);
        }

        100% {
            transform: translate(0px, 0px) scale(1);
        }
    }

    --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear;
    --animate-magicslide: magicslide var(--speed) ease-in-out infinite alternate;

    @keyframes spin-around {
        0% {
            transform: translateZ(0) rotate(0);
        }

        15%,
        35% {
            transform: translateZ(0) rotate(90deg);
        }

        65%,
        85% {
            transform: translateZ(0) rotate(270deg);
        }

        100% {
            transform: translateZ(0) rotate(360deg);
        }
    }

    @keyframes magicslide {
        to {
            transform: translate(calc(100cqw - 100%), 0);
        }
    }

    --animate-shine: shine var(--duration) infinite linear;

    @keyframes shine {
        0% {
            background-position: 0% 0%;
        }

        50% {
            background-position: 100% 100%;
        }

        100% {
            background-position: 0% 0%;
        }
    }

    --animate-appear: appear 1s ease-out forwards;
    --animate-moveUp: moveUp 0.8s ease-out forwards;

    @keyframes appear {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes moveUp {
        from {
            transform: translateY(20px);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

@layer utilities {
    .bg-grid-white\/\[0\.03\] {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='white' stroke-opacity='0.03'%3E%3Cpath d='M0 .5H31.5V32'/%3E%3C/svg%3E");
    }

    .bg-grid-white\/\[0\.05\] {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='white' stroke-opacity='0.05'%3E%3Cpath d='M0 .5H31.5V32'/%3E%3C/svg%3E");
    }

    .bg-grid-white\/\[0\.1\] {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='white' stroke-opacity='0.1'%3E%3Cpath d='M0 .5H31.5V32'/%3E%3C/svg%3E");
    }
}