@import 'tailwindcss';

@theme {
    --animate-blob: blob 10s infinite;

    @keyframes blob {
        0% {
            transform: translate(0px, 0px) scale(1);
        }

        33% {
            transform: translate(30px, -50px) scale(1.1);
        }

        66% {
            transform: translate(-20px, 20px) scale(0.9);
        }

        100% {
            transform: translate(0px, 0px) scale(1);
        }
    }

    --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear;
    --animate-magicslide: magicslide var(--speed) ease-in-out infinite alternate;

    @keyframes spin-around {
        0% {
            transform: translateZ(0) rotate(0);
        }

        15%,
        35% {
            transform: translateZ(0) rotate(90deg);
        }

        65%,
        85% {
            transform: translateZ(0) rotate(270deg);
        }

        100% {
            transform: translateZ(0) rotate(360deg);
        }
    }

    @keyframes magicslide {
        to {
            transform: translate(calc(100cqw - 100%), 0);
        }
    }
}